.fadeIn {
  animation: 0.5s ease-in fadeIn;
}
.fadeInLeft {
  animation: 0.5s ease-in fadeInLeft;
}
.fadeInRight {
  animation: 0.1s ease-in fadeInRight;
}
.fadeInUp {
  animation: 0.5s ease-in fadeInUp;
}
.fadeOut {
  animation: 0.5s ease-in fadeOut;
}

.fadeOutUp {
  animation: 0.5s ease-in fadeOutUp;
}
.fadeOutRight {
  animation: 0.5s ease-in fadeOutRight;
}